.leftside h1{
    font-size: 52px ;
    font-weight: 700;
}
.leftside h1 span{
    color: #107d9e;
}
.leftside p{
    font-size: 20px;
    margin-top: 30px;
}

.leftside h3{
    font-size: 26px;
    margin-top: 20px;
    font-weight: 700;
    color: #107d9e;
    margin-bottom: 19px !important;
}
.leftside ul{
    list-style: none;
}
.leftside ul li{
    font-size: 19px;
    color:#107d9e ;
}
.leftside button{
    width: 50%;
}

.midcont{
    background-color: rgb(221, 219, 219);
    margin-bottom: 40px !important ;
}
.midcont h2{
    font-size: 25px;
    font-weight: 700;
    color: #107d9e;
}

.clubimp{
    /* background-color: #F7FAFF; */
    background-color: #e3e8f0;
}
.clubimp h2{
    color: #107d9e;
    font-size: 36px;
    font-weight: 700;
}
.clubimg{
    width: 48px;
    height: 48px;
}

.clubsinfo {
    text-align: center ;
    background-color: #6a0dad; 
    color: white; 
    padding: 50px; 
    height: 50px ;
    text-align: center ; 
  display: flex ;
  justify-content: center ;
  align-items: center ;
  }

  .sbtn {
    margin-top: 25px;
    padding: 6px 12px !important;
    font-size: 14px !important;   
    border-radius: 8px !important; 
    height: 35px !important;
  }
  