.leftside h1{
    font-size: 52px ;
    font-weight: 700;
}
.leftside h1 span{
    color: #107d9e;
}
.leftside p{
    font-size: 20px;
    margin-top: 30px;
}

.leftside h3{
    font-size: 26px;
    margin-top: 20px;
    font-weight: 700;
    color: #107d9e;
    margin-bottom: 19px !important;
}
.leftside ul{
    list-style: none;
}
.leftside ul li{
    font-size: 19px;
    color:#107d9e ;
}
.leftside button{
    width: 50%;
}
.home-btn-primary {
    background-color: #007bff !important; 
    border-color: #007bff !important;
    color: white;
}
  
.home-btn-primary:hover {
    background-color: #1586fe !important; 
    border-color: #007bff !important;
    color: white;
}
  
.home-btn-outline-primary {
color: #007bff !important;
border-color: #007bff !important;
}
  
.home-btn-outline-primary:hover {
background-color: #007bff !important;
color: #fff !important;
}

.midcont{
    background-color: rgb(221, 219, 219);
    margin-bottom: 40px !important ;
}
.midcont h2{
    font-size: 25px;
    font-weight: 700;
    color: #107d9e;
}

.clubimp{
    /* background-color: #F7FAFF; */
    background-color: #e3e8f0;
}
.clubimp h2{
    color: #107d9e;
    font-size: 36px;
    font-weight: 700;
}
.clubimg{
    width: 48px;
    height: 48px;
}

.clubsinfo h2{
    color: rgb(57, 55, 55);
}
.nsslogo {
    width: 100% !important;
    height: 150px;
    
}
.nssclub ul{
    list-style: none;
}
.nssclub ul li i{
    font-size: 19px;
    color:#156908 ;
}
.nssclub ul li{
    font-size: 19px;
    font-weight: bold;
}
.nssclub span{
    color: #707678;
    font-size: 14px;
}

.nsshome fieldset{
    width: auto;
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #4CAF50;
    position: relative;
}
.nsshome legend{
    text-align: center;
}

.pascclub ul{
    list-style: none;
}
.pascclub ul li i{
    font-size: 19px;
    color:#2ba4dc ;
}
.pascclub ul li{
    font-size: 19px;
    font-weight: bold;
}
.pascclub span{
    color: #707678;
    font-size: 14px;
}

.paschome fieldset{
    width: auto;
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #3184e4;
    position: relative;
}
.paschome legend{
    text-align: center;
}

.edcclub ul{
    list-style: none;
}
.edcclub ul li i{
    font-size: 19px;
    color:#b61382 ;
}
.edcclub ul li{
    font-size: 19px;
    font-weight: bold;
}
.edcclub span{
    color: #707678;
    font-size: 14px;
}

.edchome fieldset{
    width: auto;
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #b61382;
    position: relative;
}
.edchome legend{
    text-align: center;
}
.custom-btn {
    background-color: #b61382;
    border-color: #b61382;
    color: white;
}
.custom-btn:hover {
    background-color: #c04298; 
    color: white;
}
